<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Organizer</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <h1>This will be the login page</h1>
        <h3>Eventually...</h3>
    </div>
    <div>
        <button href="/page">
            Go to page
        </button>
        <a href="/page">Link</a>
    </div>
</body>
</html>